* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*LIVE IMAGE */

.Add {
  height: 200px;
  width: 96%;
  margin: 10px 2% 0 2%;
}
.Add img {
  height: 100%;
  width: 100%;
}

/* smartphones section */

.smart {
  background-color: #9ec1c7;
  height: 30px;
  width: 96%;
  margin: 10px 2% 0 2%;
  padding-left: 20px;
  font-weight: 800;
  font-size: 18px;
}

.main1 {
  background-color: #9ec1c7;
  height: 17vmax;
  width: 96%;
  margin: 0px 2% 0 2%;
  display: flex;
  flex-direction: row;
}

.smartphone {
  width: 100%;
  height: 17vmax;
  background-color: #9ec1c7;
  /* border: 2px solid black; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.smartphone img {
  align-items: center;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.8;
}
.smartphone img:hover {
  transform: scale(1.1);
}

.smartphone span {
  padding-top: 10px;
  font-size: 0.8em;
  color: #000000;
}
.smartphone h3 {
  padding-top: 10px;
}

/* HOME APPLIENCES */

.home {
  background-color: #9ec1c7;
  height: 30px;
  width: 96%;
  margin: 10px 2% 0 2%;
  padding-left: 20px;
  font-weight: 800;
  font-size: 18px;
  /* border: 2px solid blue; */
}

.homebox {
  /* border: 2px solid green; */
  background-color: #9ec1c7;
  height: 16vmax;
  width: 96%;
  margin: 0px 2% 0 2%;
  display: flex;
  flex-direction: row;
}

.boxes {
  width: 15%;
  height: 16vmax;
  /* border: 2px solid red; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxes img {
  align-items: center;
  width: 90%;
  height: 90%;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  transition: 0.5;
}
.boxes img:hover {
  transform: scale(1.2);
}

.boxes span {
  padding-top: 0px;
  font-size: 0.8em;
  color: #000000;
}
.boxes h3 {
  padding-top: px;
  font-size: 0.9em;
}

/* This is Article section of the page */

.set {
  background-color: #dccfc0;
  /* border: 2px solid black; */
  height: 12vmax;
  width: 96%;
  margin: 10px 2% 0 2%;
  /* border: 2px solid rgb(12, 255, 12); */
  display: flex;
  justify-content: space-evenly;
}

.set1 {
  height: 12vmax;
  width: 25%;
}

.set1 img {
  width: 100%;
  height: 100%;
}



/* This is Article section 2  */

.price {
  /* border: 2px solid; */
  width: 96%;
  height: 17vmax;
  margin: 10px 2% 0 2%;
  background-color: #d2e4e9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}


.price1 {
  width: 32%;
  height: 16vmax;
  margin: 0px 0% 0 0%;
  /* border: 2px solid; */

}
.price1 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* this is Footer section  */


footer{
  width: 100%;
  height: 26vmax;
  /* border: 2px solid red; */
  margin-top: 10px;
  background-color: #2a3133;
 
  
}


.main-foter {
  width: 100%;
  height: 21vmax;
  /* border: 2px solid rgb(25, 0, 255); */
  background-color: #2a3133;
  display: flex;
}

.footer-content {
  width: 16.66%;
  height: 21vmax;
  padding: 15px;
  text-align: left;
  /* border: 2px solid white; */
}
.footer-content h3 {
  color: #bcacac;
  font-size: 10px;
  margin-bottom: 20px;
}

.footer-content a {
  display: flex;
  text-decoration: none;
  
  color: rgba(255, 255, 255, 0.804);
   font-weight: 600; 
  font-size: 12px;
}

.mail{
  height: 60px;
  width: 80%;
    margin-top: 20px;
    display: flex;

  /* border: 2px solid yellow; */
}
.mail a{
  height: 20px;
  width: 20px;
  margin-left: 1%;
  ;
  color: #bcacac;
  font-size: 10px;
  
}

.lastfoot{
  height: 5vmax;
  width: 100%;
   background-color: #2a3133;
  /* border: 3px solid rgb(30, 255, 0); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lastfoot1 {
  height: 4.5vmax;
  width: 18%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.lastfoot2 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.lastfoot1 a{
 text-decoration: none;
 display: flex;
 text-align: center;
 color: #d2e4e9;
}