* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #b7d6eacb;
}
header {
  background-color: #57b2b2;
  height: 70px;
  width: 100%;
  color: white;
  padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.logo {
    height: 40px;
    
    
}
.search-bar {
  background-color: rgba(63, 152, 172, 0.529);
  width: 400px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-left: 0px;
}
.search-bar input{
   height: 30px;
  width: 100%;
}
.search-bar button{
  height: 30px;
  width: 30%;
}
.login {
  background-color: #d2c2c2;
  border: 2px solid #000000;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login a{
    color: white;
    text-decoration: none;
    
    font-size: 20px;
}
.cart {
     background-color: #d2c2c2;
       border: 2px solid #000000;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.seller {
    text-decoration: none;
     background-color: #d2c2c2;
    border: 2px solid #000000;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}